<section data-grid="1">
  <div></div>

  <div id="header-image">
    <img src="assets/logoabeille.png" />
  </div>

<div>
    <button class="col-12 loginBtn align-top" [routerLink]="['/loginPage']" routerLinkActive="router-link-active" *ngIf="isConnected != 'true' " (click)="changeLoginColor()">Connexion</button>
      
    <button class="col-12 loginBtn align-top" (click)="logOut()" *ngIf="isConnected == 'true'">Déconnexion</button>
</div>
</section>

<section data-grid="2">
  <div></div>

  <div>
      <app-login></app-login>
  </div>

  <div></div>

</section>

    
    
  


  <!-- contenu de la barre de navigation (recherche test / tests en cours/ ajout d'un nouveau test) deplacée dans le composant "topbar" 
  -->
  <!-- A créer : un joli bouton pour se logger (renvoie vers le composant "login") -->
  


