<div class="container-fluid">
  
  <div class="text-center mt-5 pt-5 pb-5 container-fluid" id="header-image">
    
    <img src="assets/BanniereQCP.png" class="col-5">

    <!--<div class="col-2 offset-1 d-inline-block align-top">
      <div *ngIf="isConnected == 'true' "> <mat-icon>lock_open</mat-icon>Connecté</div>
      <button class="col-12 loginBtn align-top"  *ngIf="isConnected != 'true' " > <mat-icon>lock</mat-icon>connecte</button>
      <button class="col-12 loginBtn align-top" (click)="logOut()" *ngIf="isConnected == 'true'"><mat-icon>get_app</mat-icon>Déconnexion</button>
    
    <ul class="navbar-nav">
    <a class="nav-link" *ngIf="isConnected == 'true'" routerLink="/mainPage" routerLinkActive="active"></a>
    <a class="nav-link" style="cursor: pointer" *ngIf="isConnected == 'false'" routerLink="/loginPage" routerLinkActive="active">Déconnexion</a>
  </ul> 
  </div>-->
    
  </div>

</div>
